<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs")%>

  <body>
    <%- include("./partials/nav.ejs")%>
      <div class="about-contents">
        <h2>About Us</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam,
          reprehenderit minus et animi tempora aliquam distinctio alias voluptatum
          quisquam totam? Ad eum neque hic, cumque quis asperiores repellat nihil
          maiores?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, deserunt?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum voluptas
          quia cumque voluptatum velit labore dolorum iste doloremque id in?
        </p>
      </div>
      <%- include("./partials/footer.ejs")%>
  </body>

</html>